<p><font size="6">Sales Intern</font></p>
<p><strong>Description</strong></p>
<p style="padding-left:2cm;">•	Perform real world sales calls</p>
<p style="padding-left:2cm;">•	Offer merchant service and cash advance solutions to large and small companies</p>
<p style="padding-left:2cm;">•	Provide exceptional customer service and professionalism</p>
<p style="padding-left:2cm;">•	Attend weekly sales meetings with sales manager</p>
<p><strong>Requirements</strong>
<p style="padding-left:2cm;">•	Clear, professional written and verbal skills, team player</p>
<p style="padding-left:2cm;">•	Excellent organizational and interpersonal communication skills</p>
<p style="padding-left:2cm;">•	Hardworking and enthusiastic personality</p>
<p style="padding-left:2cm;">•	Perfect opportunity to join a fast-growing company</p>
<p style="padding-left:2cm;">•	Work in a high-energy, fast-paced environment that is competitive and fun.</p>
<p style="padding-left:2cm;">•	Gain real life sales experience by being an active field sales associate</p>
<p style="padding-left:2cm;">•	Be assigned a dedicated mentor (current sales rep) who will meet with you on a weekly basis</p>
<p style="padding-left:2cm;">•	Learn about our industry and receive weekly coaching advice on salesmanship</p>
<p style="padding-left:2cm;">•	Phone and car allowances are provided</p>
<p style="padding-left:2cm;">•	Opportunities for full time employment</p>
<p style="padding-left:2cm;">•	Must be fluent in English, Second language a plus</p>
<p><strong>Apply Email: careers@zbestpayment.com</strong></p>
