<p><font size="6">Sales Representative</font></p>
<p><strong>Description</strong></p>
<p style="padding-left:2cm;">•	Strong cold calling skills and ability to self source up to 75%</p>
<p style="padding-left:2cm;">•	Hunter mentality with drive to identify and follow-through on opportunities</p>
<p style="padding-left:2cm;">•	Solution selling experience preferred</p>
<p style="padding-left:2cm;">•	A drive for self directed learning and personal development</p>
<p style="padding-left:2cm;">•	Entrepreneurial spirit</p>
<p style="padding-left:2cm;">•	Highly self motivated, aggressive, energetic, creative and personal</p>
<p style="padding-left:2cm;">•	Professional presence required and ability to effectively interface with executives. This requires strong written and verbal communication skills as well as strong listening skills, ensuring success the main point of contact for your portfolio of clients.</p>
<p style="padding-left:2cm;">•	Experience and capability to build new immediate relationships of trust with clients</p>
<p style="padding-left:2cm;">•	Ability to create strong relationships and train referral sources to help cultivate strong leads</p>
<p><strong>Requirement</strong></p>
<p style="padding-left:2cm;">•	College Degree
<p style="padding-left:2cm;">•	Demonstrated success and achievement of challenging goals and expectations</p>
<p style="padding-left:2cm;">•	Ability to develop a plan to effectively produce to line revenue growth</p>
<p style="padding-left:2cm;">•	Demonstrated success at building and maintaining appropriate pipeline levels</p>
<p style="padding-left:2cm;">•	Understanding of POS products and payment industry culture</p>
<p style="padding-left:2cm;">•	Diverse experience networking and prospecting using cold calling, social media, service organizations, and other sales skills to help achieve sales goal</p>
<p style="padding-left:2cm;">•	proficiency of Microsoft Office are strongly preferred</p>
<p style="padding-left:2cm;">•	Proven track record in Sales</p>
<p style="padding-left:2cm;">•	Bilingual skills a plus</p>

<p><strong>Apply Email: careers@zbestpayment.com</strong></p>