<p><font size="6">Business Development Manager</font></p>
<p><strong>Description</strong></p>
<p style="padding-left:2cm;">•	Grow the ZBest Payment partner client base through cold calling and calling list of previous clients</p>
<p style="padding-left:2cm;">•	Develop outbound marketing campaigns</p>
<p style="padding-left:2cm;">•	Sourcing potential vertical markets as Merchant Referral Partners could include Accountants, Small Banks, and Equipment leasing shops, Insurance agents, and/or vendor programs</p> 
<p style="padding-left:2cm;">•	Utilizing LinkedIn, Advertising, Association list calling, old contacts, our current database and networking to acquire new partners our sales channels</p>
<p style="padding-left:2cm;">•	Thoroughly understand ZBest Payment’s Sales process and products and the competitive landscape</p>
<p><strong>Requirements</strong></p>
<p style="padding-left:2cm;">•	College degree in marketing, finance, or economics preferred</p>
<p style="padding-left:2cm;">•	2 years of B2B sales experience encompassing full lifecycle sales from prospecting to close</p>
<p style="padding-left:2cm;">•	Demonstrated accomplishments in creating new business opportunities and driving revenue</p>
<p style="padding-left:2cm;">•	Relationships and experience in selling through at least one of our vertical market is strongly preferred</p>
<p style="padding-left:2cm;">•	Self-starter who is comfortable working in a start-up environment with a high degree of ambiguity</p>
<p style="padding-left:2cm;">•	Excellent oral & written communications skills</p>
<p style="padding-left:2cm;">•	Strong business maturity and presence with the ability to interact with management
<p style="padding-left:2cm;">•	Demonstrated expertise in relationship building and influence management both with internal and external customers</p>
<p style="padding-left:2cm;">•	Works well under pressure with the ability to manage and drive multiple priorities</p>
<p style="padding-left:2cm;">•	Personable, positive, upbeat disposition with the ability to have fun while delivering upon objectives</p>

<p><strong>Apply Email: careers@zbestpayment.com</strong></p>
<p><strong>Yearly Salary 80k~120k</strong></p>

