

<div class="box" style="background-color:#3a86ba; position:absolute; width:100%; top:80px; height:50%; z-index:-1;">
</div>
<div class="container">
    <div class="row">
        <div class="header-bg-box" style="padding:15px 0px;">
            <div class="col-lg-12 text-center" style="background:white;">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="img/slide-1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/slide-2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/slide-3.jpg" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <p><strong>Zbest Payments is a nationwide electronic payment processing solution provider.</strong><br></p>
                <p align="left" style="padding:0px 20px;">Our payment processing solutions include Credit Card, Debit Card, Gift/Loyalty, EBT, ATM service, ACH Service, Check Conversion, Web Payments, Cash Advance and more.   
                </p>
            </div>
        </div>
    </div>

    <table style="width:100%; table-layout: fixed;">
      <tr>
        <td>
            <div class="col-lg-12 text-center">
                <div class="homebox">
                    <p><strong>Merchant solutions</strong></p>
                    <p align="left" style="font-size:1em;">•&nbsp;&nbsp;Credit card payment services
                    <br>•&nbsp;&nbsp;Check & ACH</p>
                </div>
            </div>
        </td>
        <td>
            <div class="col-lg-12 text-center">
                <div class="homebox">
                    <p><strong>Services</strong></p>
                </div>
            </div>
        </td>      
        <td>
            <div class="col-lg-12 text-center">
                <div class="homebox">
                    <p><strong>Equipment</strong></p>
                </div>
            </div></td>
        <td>
            <div class="col-lg-12 text-center">
                <div class="homebox">
                    <p><strong>Marketing</strong></p>
                    <p align="left" style="font-size:1em;">•&nbsp;&nbsp;Offer whole package of website
                    <br>•&nbsp;&nbsp;Online ordering & Shopping</p>
                </div>
            </div>
        </td>
      </tr>
      
    </table>

</div>
