<h1>About this website</h1>
<p>I aim to build a platform to share advanced technology + papers about GIS</p>

<p>However, before that, I use this website advitse myself during the period I'm working offline</p>