<div class="box" style="background-color:#3a86ba; position:absolute; width:100%; top:150px; height:520px; z-index:-1;"></div>
<div style="height:800px;">
<center style="width:100%;color:#34495e;background:rgba(255,255,255,0.9);">
  <br>
  <h1>ATM Machine:</h1>
  <strong><p style="width:800px;"><font size=5>We offer the latest ATM kiosks from industry. You have the options to refill money for it by yourselves or we also would love to help you refill periodically.</font></p></strong>
	<br>
	<img src="/img/ATM.png" alt="terminal" style="width:600px; position:absolute;">
</center>
</div>