<div class="box" style="background-color:#3a86ba; position:absolute; width:100%; top:150px; height:520px; z-index:-1;"></div>

<center style="width:100%;color:#34495e;background:rgba(255,255,255,0.9);">
  <br>
  <h1>Payment processing:</h1>
  <strong><p style="width:800px;"><font size=5>We provide different products (including hardware/software) to make payment flexible, which can
	make your business more profitable!</font></p></strong>
	<br>
</center>
<div class="container" style="width:1000px;">
	<h4 style="color:white;">Gift card is a good way to enhance brand awareness for your product or services, encourage repeat business while also being an excellent source of extra revenue.<img src="/img/GiftCard.png" alt="terminal" style="float:right; width:600px; margin-top:-50px;">
	</h4>

	<div class="container" style="border: 4px solid rgba(222,222,222,0.5);width:380px;height:200px;position:relative;margin-left:20px;margin-bottom:20px;margin-top:20px;">
		<p><font color="white">
		Our products have the following functions:
			•&nbsp;&nbsp;&nbsp;&nbsp;Customizable design for your gift card<br>
			•&nbsp;&nbsp;&nbsp;&nbsp;Real-time Online Reporting<br>
			•&nbsp;&nbsp;&nbsp;&nbsp;Standard or Optional Denominations<br>
			•&nbsp;&nbsp;&nbsp;&nbsp;Single-use or Reloadable Cards<br>
		</font></p>
	</div>
</div>
