<div class="box" style="background-color:#3a86ba; position:absolute; width:100%; top:150px; height:520px; z-index:-1;"></div>
<center style="width:100%;color:#34495e;background:rgba(255,255,255,0.9);">
    <br>
    <h1>Payment processing:</h1>
    <strong><p style="width:800px;"><font size=5>We provide different products (including hardware/software) to make payment flexible, which can
make your business more profitable!</font></p></strong>
<br><br>
</center>
<div id="TerminalPay">
    <div class="container" style="width:1000px;">
        <h2 style="color:white;">Terminal Payments:</h2>
        <div class="aligncenter" style="width:350px;height:0;border-top:4px solid white;font-size:0;">-</div>
    </div>
    <div class="container" style="width:1000px;">
        <p style="margin-left:50px;">
            <img src="/img/terminal.png" alt="terminal" style="float:right;">
            <font size=5 color=white>Accept payments with a traditional processing terminal.</font>
            <font size=4 color=white>
            <br>Although traditional payment processing have took an important role in the marketing and have been sufficient for most business owners, the new technology still make the payments more flexible and convenient. As the technology of NFC and barcodes are gaining popularity in recent year, every business is looking for a method which is suitable for them.
            </font>
        </p>
    </div>
</div>

<div id="PosPay">
    <div class="container" style="width:1000px;">
        <h2 style="color:#2980b9; text-align:right;">POS Payments:</h2>
        <div class="alignright" style="width:250px;height:0;border-top:4px solid #2980b9;font-size:0;float:right;">-</div>
    </div>

    <div class="container" style="width:1000px;">
        <div class="col-lg-4">
            <img src="/img/allinone.ico" alt="terminal" style="float:left;">
        </div>
        <div class="col-lg-5" style="margin-left:200px;">
            <font size=5 color=#2980b9><br>Create a seamless experience through your POS.</font>
            <font size=4 color=gray>
                <br>It used to be the POS system for some big enterprises because the cost was high. With the advent of other kinds of POS processing, the manufacturing costs was decreased. This payment methods become more affordable for any kind of businesses.
                <br>
                <br>
                <br>
            </font>
        </div>
    </div>
</div>
<div id="OnlinePay">
    <div class="container" style="width:1000px;">
        <h2 style="color:#2980b9; text-align:left;">Online Payments:</h2>
        <div class="alignright" style="width:300px;height:0;border-top:4px solid #2980b9;font-size:0;float:left;">-</div>
    </div>

    <div class="container" style="width:1000px;">
        <img src="/img/online.png" alt="online" style="float:right;">
        <div style="margin-left:50px;width:500px;">
            <font size=5 color=#2980b9><br>Securely process payments through your online store.</font>
            <font size=4 color=gray>
                <br>It used to be the POS system for some big enterprises because the cost was high. With the advent of other kinds of POS processing, the manufacturing costs was decreased. This payment methods become more affordable for any kind of businesses.
                <br>
                <br>
                <br>
            </font>
        </div>
    </div>


</div>
<div id="MobilePay">
<div class="container" style="width:1000px;">
        <h2 style="color:#2980b9; text-align:right;">Mobile Payments:</h2>
        <div class="alignright" style="width:250px;height:0;border-top:4px solid #2980b9;font-size:0;float:right;">-</div>
    </div>

    <div class="container" style="width:1000px;">
        <div class="col-lg-4">
            <img src="/img/mobilepay.png" alt="mobile" style="float:left;width:400px;">
        </div>
        <div class="col-lg-5" style="margin-left:200px;">
            <font size=5 color=#2980b9><br>Solutions for accepting payments through your mobile device.</font>
            <font size=4 color=gray>
                <br>More and more businesses are discovering the advantages and convinces of mobile payment, you can process payment through your phones anytime, anywhere. This flexible processing remote payments through a portable device allows you to extend your sales beyond your physical outlets.
                <br>
                <br>
                <br>
            </font>
        </div>
    </div>
</div>