<header>
  <nav role='navigation'>
    <ul>
        <li><a class="link-1 entypo-phone active" href="#Marketing"></a></li>
        <li><a class="link-3 entypo-monitor" href="#OnlineOrdering"></a></li>
        <li><a class="link-2 entypo-basket" href="#ECommerce"></a></li>
        <li><a class="link-4 entypo-mobile" href="#AppPay"></a></li>
    </ul>
  </nav>  
</header>
<section id="Marketing">
    <div class="container" style="width:1200px; min-width:800px;margin-left:250px;">
        <h2>Marketing</h2>
        <div class="container" style="width:500px;float:left;margin-left:50px;border:3px solid rgba(222,222,222,0.5);margin-top:30px;">
            <h3>(1) Promotion</h3>
            <p><img src="/img/promotion.png" alt="Promotion" style="width:200px;height:200px;float:right;">ZBest Payment helps you gain your fame and attract more customers. We provide multiple promotion methods through popular platforms like Yelp, WeChat. We also cooperate with professional advertise organizations to help you occupy the market.</p>

        </div>
        <div class="container" style="width:500px;float:right;border:3px solid rgba(222,222,222,0.5);margin-top:100px;">
            <h3>(2) Gift Card & Logo Design</h3>
            <p><img src="/img/GiftCard.png" alt="GiftCard" style="width:300px;height:250px;float:right;">We have professional teams for designing Gift Card and Logo. For customers using our payment services, we can give them discounted and even free design services.</p>
        </div>
        <div class="container" style="width:500px;float:right;margin-right:50px;border:3px solid rgba(222,222,222,0.5);margin-top:70px;">
            <h3>(3) Mobile Coupon / APP Integration</h3>
            <p><img src="/img/mobile.png" alt="Mobile" style="width:300px;height:250px;float:right;">We can make your cellphone as your wallet. This service can combine coupon and discount and the payment at the time people buy things through their phones.</p>
        </div>
    </div>
</section>
<section id="OnlineOrdering">
    <div class="container" style="width:1200px; min-width:800px;margin-left:250px;">
        <h2>Online Ordering</h2>
        <h3>
            Select th program for<br> your restaurant business.
        </h3>
        <div class="container" style="float:right;">
            <div id="Ordering">
            <div class="whole">
                <div class="type">
                    <p>Simple</p>
                </div>
                <div class="plan">
                    <div class="Orderheader">
                        <span>$</span>29<sup>99</sup>
                        <p class="month">per month</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>5 Web Templates</li>
                            <li>5 Dish Pictures</li>
                            <li>free random domain</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="whole">
                <div class="type standard">
                <p>Standard</p>
                </div>
                <div class="plan">
                    <div class="Orderheader">
                        <span>$</span>49<sup>99</sup>
                        <p class="month">per month</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>10 Web Templates</li>
                            <li>10 Dish Pictures</li>
                            <li>designed domain</li>
                            <li>Online Ordering Function</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="whole ">
                <div class="type ultimate">
                <p>Ultimate</p>
                </div>
                <div class="plan">

                    <div class="Orderheader">
                        <span>$</span>79<sup>99</sup>
                        <p class="month">per month</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>15 Web Templates</li>
                            <li>Unlimited Dish Pictures</li>
                            <li>designed domain</li>
                            <li>Online Ordering Function</li>
                            <li>Online Payment Function</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p style="float:right; width:500px;">
            We provide a systematically service for restaurant owners. Additionally, POS machine buyer may get one of our SIMPLE website service for free.
        </p>
    </div>
    
    
</section>
<section id="ECommerce">
    <div class="container" style="width:1200px; min-width:800px;margin-left:250px;">
        <h2>E-Commerce</h2>
  
        <p><img src="/img/Online_EC.jpg" alt="Promotion" style="float:right;">

        <br><br><br><br>
        We help you take your business online:<br>
        •   Build your website<br>
        •   Add shopping cart<br>
        •   Backend/frontend Management<br>
        •   Website Design<br>
        •   Inventory Management<br>
        •   Gateway integration<br>
</p>
    </div>
</section>
<section id="AppPay">
    <div class="container" style="width:1200px; min-width:800px;margin-left:250px;">
        <h2>App/Payment</h2>
        <img src="/img/MobileAPP.jpg" alt="Promotion" style="float:left;width:300px;height:250px;"><br><p style="width:1000px;">We are developing a mobile APP named "ZbestPay". This device will make your mobile accessible to multiply safe and fast payment methods.<h2><strong>Expected to be published in 2016</strong></h2></p>
    </div>
</section>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>


