<div class="intro-header">
    <div class="container" >

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Cash Advance</h1>
                    <h3>Get a cash advance to stay financially afloat</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>
<div class="content-section-a">

    <div class="container">
        <div class="container" style="width:1000px;">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Basics of a cash advance</h2>
                    <p class="lead">
                        Applying for a cash advance online is easier than applying for a loan through a bank. Bank loans can take weeks, but online cash advance applications are usually completed the same business day. The application process only takes a few minutes, and the borrower gets cash faster than with traditional loans.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<div class="content-section-b">

    <div class="container">
        <div class="container" style="width:1000px;">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">General terms of a cash advance</h2>
                    <p class="lead">Cash advances between $100 and $1,000 are available online. The fees for cash advances range from $15 to $30 per $100 borrowed, depending on state law and other circumstances. The term of a cash advance loan is usually two to four weeks, and the cash advance and fee must usually be paid back in one lump sum. If you need more time to repay the amount you need, check out installment loans.<br>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<div class="content-section-a">

    <div class="container">
        <div class="container" style="width:1000px;">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Cash advances versus traditional loans</h2>
                    <p class="lead">
                        Cash advances have two unique advantages over traditional loans in that they are unsecured loans, and often are approved without a credit check. This means that someone of little means or with a bad credit record can be approved in the case of a financial emergency.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>

<div class="content-section-b">

    <div class="container">
        <div class="container" style="width:1000px;">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <h2 class="section-heading">Use your loans wisely</h2>
                    <p class="lead">
                        Financially responsible people can use cash advances to save money by avoiding late fees and overdraft charges. Cash advances can also protect customers’ credit reports by allowing them to make payments on time.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-6 col-lg-offset-2">
                    
                    <h2 class="section-heading">Get a cash advance today</h2>
                    <p class="lead">
                        A cash advance can be directly deposited into your bank account after you and an online cash advance lender reach an agreement. You can find the best, most trustworthy lender for your needs in just a few minutes.
                    </p>
                </div>
              
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>