<div class="intro-header">
    <div class="container" >

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>PCI Compliance</h1>
                    
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>
<div class="content-section-a">

    <div class="container">
        <div class="container" style="width:1000px;">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What is PCI?</h2>
                    <p class="lead">
                        The Payment Card Industry Data Security Standard (PCI DSS) is a set of requirements designed to ensure that ALL companies that process, store or transmit credit card information maintain a secure environment. Essentially any merchant that has a Merchant ID (MID).</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<div class="content-section-b">

    <div class="container">
        <div class="container" style="width:1000px;">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">To whom does PCI apply?</h2>
                    <p class="lead">PCI applies to ANY organization or merchant, regardless of size or number of transactions, that accepts, transmits or stores any cardholder data. Said another way, if any customer of that organization ever pays the merchant directly using a credit card or debit card, then the PCI DSS requirements apply.<br>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<div class="content-section-a">

    <div class="container">
        <div class="container" style="width:1000px;">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Do organizations using third-party processors have to be PCI compliant?</h2>
                    <p class="lead">
                        Yes. Merely using a third-party company does not exclude a company from PCI compliance. It may cut down on their risk exposure and consequently reduce the effort to validate compliance. However, it does not mean they can ignore PCI.<br>
                        All of Zbest payment’s solutions obey the PCI compliant. We provide trustful solutions and we expect further cooperation with you!
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>