<div class="intro-header">
    <div class="container" >

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>ATM Service</h1>
                    
                    <hr class="intro-divider">

                    <h3>Generate additional revenue with an ATM machine from Zbest Payent Solutions.</h3>
                    <div style="width:1000px;margin:0 auto;">
                        <h4>You can find an ATM machine in many retail stores, clubs, restaurants, and business offices. This is because it is an easy, automated source of income for a business and has a number of additional benefits. </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>
<div class="content-section-a">

    <div class="container">
        <div class="container" style="width:1000px;">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">YOU set the price... YOU make the money!</h2>
                    <h3>Here's how:</h3>
                    <p class="lead">
                        There is a surcharge that you charge each card holder for making a withdrawal from your ATM. You decide how much to charge. (Typically between $1-$4.) For each surcharged transaction, all you pay to Fidelity is a nominal transaction fee......the rest of the surcharge is yours to keep!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>

<div class="content-section-b">

    <div class="container">
        <div class="container" style="width:1000px;">
            <div class="row">
                <div class="col-lg-10 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Some of the benefits of having an ATM in your Store or Business:</h2>
                    <h3>•New Revenue Source</h3>
                    <p class="lead">
                        A business owner sets and collects the surcharge fee per transaction, resulting in income every time someone withdraws money from the machine.</p>
                    <h3>•Increase Traffic</h3>
                    <p class="lead">
                        Having an "ATM Inside" sign can bring more customers into a business. Even if they only entered for the ATM, they may purchase items from the store.</p>
                    <h3>•Increase sales</h3>
                    <p class="lead">
                        An ATM reduces the risk that a patron with no cash on hand will leave and not return. Also a great solution for when a customer's credit card is declined.</p>
                    <h3>•Customer Convenience</h3>
                    <p class="lead">
                        Your customers will appreciate the convenience of having the machine available at your store and may patronize the business more frequently.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
