
 
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: bold;
    
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.header-bg-box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
}
.homebox{
    background-color:#eeeeee;
    padding: 30px 30px;
}


.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 80px;
        text-align: left;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 1em;
        font-weight: 700;
        line-height: normal;
        float:left;

        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        padding: 20px 60px;
        text-align: right;
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: lighter;
        letter-spacing: 1px;
        color: #000;
    }

    .navbar-header {
        display: none;
    }

    .navbar-nav {
        font-size: 1em;
        font-color:white;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}


#solution_nav {
    margin-left: auto;
    margin-right: auto;
}
#solution_section img {
    width:80%;
    margin-left: auto;
    margin-right: auto;

}

#product_nav {
    margin-left: auto;
    margin-right: auto;
}
#product_section img {
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

#zbest_nav {
    background: #3a86ba;
    border-color: transparent;
    z-index:100;
    margin:0 auto;
    width:100%;
}
.navbar a {
    color: white;
}

#foot_navbar a {
    color:#eeeeee;
}

#myDIV {
    color: red;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {color: blue;}
}

/* Standard syntax */
@keyframes mymove {
    50% {color: blue;}
}