.hidden { display: none; }
/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

/*Contact Form*/
#new_contact label{
  display:none;
}
#new_contact input{
  margin-top:10px;
  border-radius: 5px;
}
#contact_name{
  border: 2px solid #8AC007;
  width:400px;
}
#contact_email{
  border: 2px solid #8AC007;
  width:400px;
}
#contact_message{
  width:400px;
  height:200px;
  margin-top:10px;
  border-radius: 5px;
  border: 2px solid #8AC007;
}
