// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.small_image img{
    height: 100px;
    width: 100px;
    crop: fill;
    border: 3px solid #000;
    
}